head {color: black; background-color:white;}

body {background-color:grey; color:black; font-size: 14px;}

.container {color:black; font-size:14px;}

.footer {color: black; font-size: 12px; padding: 5px; margin:10px; text-align: center;}